@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --border: #CFD2DC;
    --accent: #E54065;
    --text: #636363;

    --emailBackground: #f6f2f2;
}

body {
    font-family: 'Poppins', sans-serif;
}

.App {
    padding: 3rem;
}

.App .filterOptions {
    margin-bottom: 2rem;
}

.App .filterOptions span {
    margin: 0 0.4rem;
    cursor: pointer;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
}

.App .filterOptions span.active {
    background-color: var(--emailBackground);
    border: 0.04rem solid var(--border);
}

.App .emailContainer {
    display: flex;
    gap: 1rem;
}

.App .emailContainer .emailsList {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

/* ------------ */
.icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent);
    color: #fff;
    margin: 0 2rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 100rem;
}